
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


body {
  
  background-color: #0b0713; /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem no elemento */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.wellcome{
  background-image: url("/css/_809d8949-2459-4c7e-89cc-5db675fd8097.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Define a altura do elemento para ocupar toda a altura da janela do navegador */

}


.top {
  background-color: rgba(2, 2, 2, 0.2); /* Cor de fundo com transparência para criar o efeito de borrado */
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 20px;
  display: flex;
  position: fixed; /* Fixa a posição da navbar */
  top: 0; /* Fixa a navbar no topo da janela do navegador */
  width: 100%; /* Define a largura da navbar como 100% da largura da janela */
  z-index: 999; /* Define um valor alto para o z-index, colocando a navbar na frente de outros elementos */
}
/*config navBar */

nav {
  
  position: fixed;
  left: 30%;
  padding: 10px 200px;
  width: 100%;
  backdrop-filter: blur(5px); 

}


nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  position: relative; /* Adicionado */
  transition: all 0.3s ease;
}

nav ul li a::before,
nav ul li a::after {
  content: ''; /* Adicionado */
  position: absolute; /* Adicionado */
  width: 0; /* Alterado para 0 */
  height: 0; /* Alterado para 0 */
  background-color: transparent; /* Adicionado */
  transition: all 0.3s ease; /* Adicionado */
}

nav ul li a::before {
  top: 0; /* Ajustado */
  left: -2px; /* Ajustado */
  border-left: 2px solid magenta; /* Largura da borda reduzida para 2 pixels */
  border-bottom: 2px solid magenta; /* Largura da borda reduzida para 2 pixels */
}

nav ul li a::after {
  top: 0; /* Ajustado */
  right: -2px; /* Ajustado */
  border-right: 2px solid magenta; /* Largura da borda reduzida para 2 pixels */
  border-top: 2px solid magenta; /* Largura da borda reduzida para 2 pixels */
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  width: calc(70% + 4px); /* Adicionado */
  height: calc(70% + 4px); /* Adicionado */
}


/*imgame da logo na navbar*/
.logo {
  
  font-size: 24px;
  font-weight: bold;
}

#logoOmega {
  width: 70px;
}

/* cards para a pagina dos participantes*/

.card {
  background-color: rgba(221, 221, 221, 0.2); /* Cor de fundo com transparência para criar o efeito de borrado */
  border-radius: 10px;
  border: 2px solid #fff;
  max-width: 80%;
  margin: 100px auto;
  padding: 20px;
  backdrop-filter: blur(5px); /* Aplica o efeito de borrado ao fundo */
  display: flex; 
  justify-content: center;
  width: 350px;
  height: 350px;
  position: relative;
  box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.card:hover {
  height: 400px;
}

.card .img-box {
  position: absolute;
  width: 250px;
  height: auto;
  top: 0px;
  transition: 0.5s;
}

.card:hover .img-box {
  top: -100px;
  scale: 0.75;
}

.card .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  top: 250px;
  width: 100%;
  padding: 0px 30px;
  text-align: center;
  color: #fff;
  height: 70px;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .content {
  top: 130px;
  height: 250px;
}

.card .read-more {
  background: linear-gradient(90deg, #3730a3, #7e22ce);
  padding: 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  width: 200px;
  margin-left: 60px;
}

/*Curriculo*/
.curriculo{
  background-color: rgba(221, 221, 221, 0.2); /* Cor de fundo com transparência para criar o efeito de borrado */
  border-radius: 10px;
  border: 2px solid #ff0077;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  backdrop-filter: blur(5px); /* Aplica o efeito de borrado ao fundo */
  display: flex; /* Torna os elementos filhos flexíveis */
}

.vertical-line {
    border-left: 3px solid white; /* Cor e espessura da linha */
    margin: 0 20px; /* Margem para espaçamento entre os elementos */
}

.conteudo {
    flex: 1; /* Faz com que este elemento ocupe o espaço restante */
}


