

.curriculo{
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: rgba(221, 221, 221, 0.2); 
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    backdrop-filter: blur(5px); 
    display: flex; 
  }
  
  .vertical-line {
      border-left: 3px solid white; 
      margin: 0 20px; 
  }
  
  .conteudo {
    animation: aparecer-text 2s ease forwards;
      flex: 1; 
  }

  .curriculo img{
    background-color: rgb(240, 231, 220);
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
  }
  
  h2, p, ul{
    text-align: justify;
    text-indent: 10px;
    color: white;
  }

  @keyframes aparecer-text {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

  
  
  