
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
  scroll-behavior: smooth !important;
}

body {
  
  background-color: #040c1d; 
  background-size: cover; 
  background-position: center ; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' ;
}


.wellcome{
  background-image: url("/imagens/principal.png");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh; 

}



.bemVindo h1 {
  font-family: 'Bebas';
  opacity: 0;
  transform: translateY(20px); 
  color: white;
  position: absolute ;
  top: 150px;
  width: 100vw;
  height: auto;
  text-align: center;
  font-size: 80px;
  animation: aparecer 2s forwards; 
  
}

.bemVindo p {
  opacity: 0;
  transform: translateY(20px); 
  color: white;
  position: absolute;
  top: 300px;
  width: 100vw;
  height: auto;
  text-align: center;
  animation: aparecer 2s forwards; 
}


.seta-down {
  animation: aparecer 2s forwards, levitando 1s ease-in-out alternate infinite;
  position: relative; 
  width: 100vw;
  text-align: center;
}

.seta-down img {
  width: 100px;
  height: auto;
  position: absolute; 
  top: -350px;
  left: 0;
  right: 0;
  margin: auto; 
}

.text-descricao{
  opacity: 0;
  animation: aparecer-text-desscricao 2s ease forwards;
  animation-delay: 1s;
  position: absolute;
  top: 500px;
  left: 1200px;
  right: 50px;
  color: white;
  font-family: 'Bebas';
}

:root{
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.75px;
  width: 100%;
  background-color: var(--color-neutral-40);
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  padding: 3rem 3.5rem;
  color: var(--color-neutral-40);
}

#footer_contacts h1{
  margin-bottom: 0.75rem; 
  margin-top: 0.5rem;
}


.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  line-height: 3px;
}

.footer-inter {
  color: #a8a29e;

}

#footer_logo {
  margin-top: 10%;
  margin-left: 80%;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  color: var(--color-neutral-30);
  padding: 1rem;
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(50px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes levitando{
  from{
    transform: translateY(30px);
  }
}

@keyframes aparecer-text-desscricao {
  from {
    opacity: 0;
    transform: translateX(50px); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}







