
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); 
    }
  }
  
  .teste:hover {
    cursor: pointer;
  }
  

  
  .teste a.read-more {
    display: block;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
  }
  
  .teste a.read-more:hover {
    text-decoration: underline;
  }
  